{% extends 'admin/baseadmin.html.twig' %}
{% block body %}
    {{ parent() }}

    <ul class="nav nav-tabs">
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item"> 
            <a class="nav-link active" data-toggle="tab" href="#users">Пользователи</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_MANAGER') %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#category">Категории</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#books">Книги</a>
        </li>
    {% endif %}
    </ul>
    <div class="tab-content">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="tab-pane fade show active" id="users">
            <div>
                <a class="plusIcon" href="addUser">
                    <img src="{{ asset('build/images/plus.png') }}"  width="32" height="32" alt="Add" />
                </a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Пароль</th>
                        <th scope="col">Роли</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.Roles | json_encode() }}</td>
                        <td>
                            <a href="{{ path('delete_user', {'id': user.id }) }}">
                                <img src="{{ asset('build/images/trashbin.png') }}"  width="32" height="32" alt="Delete">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('change_user', {'id': user.id }) }}">
                                <img src="{{ asset('build/images/pencil.png') }}"  width="32" height="32" alt="Change">
                            </a>
                        </td>
                    </tr>
                 </tbody>
                    {% endfor %} 
            </table>
        </div>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
        <div class="tab-pane fade" id="category">
                <div>
                      <a class="plusIcon" href="addCategory">
                         <img src="{{ asset('build/images/plus.png') }}"  width="32" height="32" alt="Add" />
                     </a>
                </div>
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название категории</th>
                        <th scope="col">Описание</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categoryArray  %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.Description }}</td>
                        <td>
                            <a href="{{ path('delete_category', {'id': category.id }) }}">
                                <img src="{{ asset('build/images/trashbin.png') }}"  width="32" height="32" alt="Delete">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('change_category', {'id': category.id }) }}">
                                <img src="{{ asset('build/images/pencil.png') }}"  width="32" height="32" alt="Change">
                            </a>
                        </td>
                    </tr>
                 </tbody>
                {% endfor %} 
        </table>
        </div>
        {% endif %}
       {% if is_granted('ROLE_MANAGER') %}
        <div class="tab-pane fade" id="books">
                <div>
                      <a class="plusIcon" href="addBook">
                         <img src="{{ asset('build/images/plus.png') }}"  width="32" height="32" alt="Add" />
                     </a>
                </div>
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название Книги</th>
                        <th scope="col">Текст</th>
                        <th scope="col">Категории</th>
                        <th scope="col">Год</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Ссылка</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books  %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.text }}</td>
                        <td>
                        {% for cat in book.category %}
                            {{ cat.name }}
                            </br>
                        {% endfor %}
                        </td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.Author }}</td>
                        <td>{{ book.description }}</td>
                        <td>{{ book.url|escape }}</td>
                        <td>
                            <a href="{{ path('delete_book', {'id': book.id }) }}">
                                <img src="{{ asset('build/images/trashbin.png') }}"  width="32" height="32" alt="Delete">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('change_book', {'id': book.id }) }}">
                                <img src="{{ asset('build/images/pencil.png') }}"  width="32" height="32" alt="Change">
                            </a>
                        </td>
                    </tr>
                 </tbody>
                 {% endfor %} 
             </table>
        </div>
        {% endif %}
        </div>
</div>    
    
       
{% endblock %}
