{% extends 'admin/baseadmin.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container-fluid border-black bg-center">
        <div class="row">
            <div class="col-1">
                id
            </div>
            <div class="col-2">
                email
            </div>
            <div class="col-5">
                password
            </div>
            <div class="col-2">
                role
            </div>
        </div>
        {% for user in users %}
            <div class="row">
                <div class="col-1">
                    {{user.id}}
                </div>
                <div class="col-2">
                    {{user.email}}
                </div>
                <div class="col-5">
                    {{user.password}}
                </div>
                <div class="col-2">
                    {{user.roles | json_encode()}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
