{% extends 'manager/Books/basebooks.html.twig' %}
{% block body %}
    {{ parent() }}
     <div class="container-fluid border-black bg-center">
        <div class="row">
            <div class="col-1">
                id
            </div>
            <div class="col-2">
                Название книги
            </div>
            <div class="col-2">
                Описание
            </div>
            <div class="col-3">
                Текст
            </div>
            <div class="col-1">
                Категория
            </div>
             <div class="col-1">
                Год
            </div>
             <div class="col-2">
                Автор
            </div>
        </div>
        {% for book in booksArray %}
            <div class="row">
                <div class="col-1">
                    {{ book.id }}
                </div>
                <div class="col-2">
                    {{ book.name }}
                </div>
                <div class="col-2">
                   {{ book.description }}
                </div>
                <div class="col-3">
                   {{ book.text }}
                </div>
                <div class="col-1">
                    {% for category in book.category  %}
                    {{category.name}}    </br>
                    {% endfor %}
                </div>
                <div class="col-1">
                    {{ book.year }}
                </div>
                <div class="col-2">
                    {{ book.author }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
